<%- include ('partials/header.ejs') %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h3>Locations Submitted by <%= user.firstname %> <%= user.lastname %></h3>
        </div>
    </header>
    <div class="row" style="display:flex; flex-wrap:wrap">
        <% campgrounds.forEach(function(campground) { %>
            <% if(campground.author.id.equals(user._id)) { %>
                <div class="card col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img class="card-img" src="<%= `${campground.images[0]}` %>" alt="Image unavailable" />
                        <div class="caption">
                            <h4>
                                <%= campground.name %>
                            </h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
                        </p>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>
<%- include ('partials/footer.ejs') %>